$folder: "../../fonts";
$white-color: #ffffff;
$shadow-color: #00000029;
$form-label-color: #000048;
$border-color: #d0d0ce;
$blue-color: #000348;
$gray-color: #707070;
$button-bg-color: #2f78c4;
$outline-btn-text: #2f78c4;
$outline-btn-border: #bed7fc;
$a-upload-button: #1b1d5b;
$a-acc-heading: #97999b;
$a-acc-edit-link: #437fc7;
$a-skills-bgbutton: #06c7cc;
$active-card-color: #06c7cc;
$a-skills-button: #edf6ff;
$a-edit-title: #2e308e;
$a-disable-title: #a1a5a6;
$a-submited-title: #7373d8;
$a-help-desc: #4b4b4b;
$a-offer-sub: #353d40;
$a-data-box: #7a6b6b;
$a-data-box-shadow: #d6d6d6;
$a-data-box-color: #e6e2e2;
$alert: crimson;

// scroll bar customizations
$scroll-color: #97999b;
$scroll-bg-color: #d0d0ce;
$scroll-thin: 0.4rem;
