<div class="div-error">

  <div class="div-main flex flex-row">

    <div class="div-leftcontent flex flex-column">

      <label class="lbl-message1">Sorry! something went wrong</label>

      <label class="lbl-message2">The page is not available at the moment <br /> or is loading incorrectly.</label>

      <label class="lbl-message3"> <span class="span1">Some options you might consider: </span> <br /> <span
          class="span2">Try going back or refreshing the page. <br /> If the issue persists, try contacting GSD for more
          support. </span>

      </label>

      <button class="btn-back" (click)="backToHome()">
        Back to CognizantOn
      </button>
    </div>

    <div class="div-rightcontent">
      <img class="errImage" src="./assets/images/Illustration.png">
    </div>


  </div>

</div>
